html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
}

* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.availableButton{
    margin: 10px 0px 0px 0px;
}

.joinProjectButton {
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.createNewProjectButton {
    margin: 10px 0px 0px 0px;
}

.backProject {
    margin: -35px 0px 0px 0px;
    text-align: right;
}
