@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            background-image: url('images/homepageBg.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="welcomeText">
        <div class="text-center">
            <h1 class="fw-bold mb-5t" style="color: hsl(218, 81%, 95%)">Welcome</h1>
        </div>
    </div>
</body>


